$font-size: 4rem;

:host {
    display: block;
    width: 100%;
    min-width: 100%;
}

.morphing-text-component {
    display: flex;
}

svg {
    position: absolute;
}

#container {
    flex-grow: 1;
    height: $font-size;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

.morphing-text {
    font-family: 'SourceCodePro', monospace;
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: $font-size;
    line-height: $font-size;
    text-align: center;
    user-select: none;

    strong {
        color: #1eb4d6;
    }
}