<div class="morphing-text-component">
    <div class="flex-gutter"></div>
    <div id="container">
        <span id="text1" class="morphing-text" #text1 [innerHtml]="text1Content"></span>
        <span id="text2" class="morphing-text" #text2 [innerHtml]="text2Content"></span>
    </div>
    <div class="flex-gutter"></div>
</div>

<svg id="filters">
    <defs>
        <filter id="threshold">
            <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 255 -140" />
        </filter>
    </defs>
</svg>