$radius: 2rem;
$width: $radius * 2;

// not sure why, but using the hard radius causes clip-path to look subtly wrong
$adjustedRadius: calc($radius + 2px);

:host {
    display: block;
    clip-path: circle(50% at 50% 50%);

    border: dashed 1px #dadada;
    border-radius: 50%;
}

.player-avatar-component {
    display: flex;
}

.avatar-container {
    background: no-repeat center center;
    background-size: contain;
    flex: 0 0;
    height: $width;
    min-width: $width;
    width: $width;
    object-fit: contain;
}