@import "../../../../scss/variables";

.long-content-hider-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    -webkit-mask-image: none;
    mask-image: none;
    text-align: left;
    width: 100%;

    &.fade-out {
        -webkit-mask: linear-gradient(to bottom, black 50%, transparent 100%);
        mask: linear-gradient(rgba(0, 0, 0, 1), transparent);
        overflow-y: hidden;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &.expanded {
        margin-top: 2.5rem;
    }
}

.pretty-line {
    border: solid 1px $info;
    flex-grow: 1;
}

.arrow-symbol {
    display: inline-block;
    font-size: 1.1rem;
    margin-left: 0.3rem;
    transform: rotate(90deg);
}