<div class="long-content-hider-component">
    <div #contentContainer class="content-container" [class.fade-out]="!isExpanded"
        (cdkObserveContent)="setIsExpandEnabled()" [style.maxHeight]="isExpanded ? 'none' : maxHeightCollapsed">
        <ng-content></ng-content>
    </div>

    <div class="button-container" *ngIf="isExpandEnabled" [class.expanded]="isExpanded">
        <div class="pretty-line"></div>
        <button type="button" class="btn btn-outline-info" (click)="toggleExpanded()">
            See {{ isExpanded ? "less" : "more" }}
            <span class="arrow-symbol">{{ isExpanded ? "« " : "»"}}</span>
        </button>
        <div class="pretty-line"></div>
    </div>
</div>