.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1rem;
}

svg {
    margin-bottom: -0.75rem;
}