.light-container {
    display: flex;

    .light-spacer {
        flex: 1 1 auto;
    }

    app-game-hub-status {
        position: relative;
        width: 0;
        height: 0;
        right: 2rem;
        top: 0.4rem;
    }
}

.avatar {
    width: 48px;
    height: 48px;
    object-fit: contain;
}