@import '../../../scss/variables';

.vm-console.col-6 .iframe-wrapper {
    height: 300px;
}

.vm-console.col-12 .iframe-wrapper {
    height: 500px;
}

.pinned {
    margin-left: -5px;
    border-left: 5px solid $success !important;
}
