<ng-container *ngIf="unityActiveGame; else loadingUnity">
    <div class="unity-container">
        <iframe [src]="unityClientLink" id="unity-game-window" title="Unity Game Window" frameborder="0"
            scrolling="no"></iframe>
    </div>
</ng-container>

<app-error-div [errors]="errors"></app-error-div>

<ng-template #loadingUnity>
    <div class="loading-container" *ngIf="!errors?.length">
        <div class="flex-spacer"></div>
        <div class="loading-unity">
            <app-morphing-text></app-morphing-text>
            <!-- <app-spinner></app-spinner> -->
        </div>
        <div class="flex-spacer"></div>
    </div>

    <div class="connecting-to-host">
        <p class="connecting-to-launch-p"><strong>Connecting to launch control at</strong></p>
        <p>{{ unityHost }}</p>
    </div>
</ng-template>