<div class="component-container">
    <div class="flex-spacer"></div>

    <div class="unity-container" *ngIf="unityActiveGame; else loadingUnity">
        <iframe [src]="unityClientLink" id="unity-game-window" title="Unity Game Window" frameborder="0"
            scrolling="no"></iframe>
    </div>

    <ng-template #loadingUnity>
        <div class="loading-container">
            <app-error-div [errors]="errors"></app-error-div>
            <app-morphing-text *ngIf="!errors.length"></app-morphing-text>
        </div>

        <div class="connecting-to-host" *ngIf="!isProduction">
            <p class="connecting-to-launch-p"><strong>Connecting to launch control at</strong></p>
            <p>{{ unityHost }}</p>
        </div>
    </ng-template>

    <div class="flex-spacer"></div>
</div>